
/*
#header {
	height: 50px;
	background-color: #5cb85c;
}

#maingrid {
	margin-left: 200px;
	margin-right: 200px;
}

#divClaimable {
	height: 200px;
	background-color: yellow;
}

.claimTable,.claimOption,.claimDescription,.claimSubtotal {
	border-collapse: collapse;
	border: 1px solid grey;
}

.claimRow {
	height: 20px;
}


.claimDescription:hover {
	background-color: #5cb85c;
}*/
.claimTable {
	width: 100%;
}
.claimOption {
	width: 10%;
}
.claimDescription {
	width: 70%;
	text-align: left;
	font-size: 12px;
}
.claimExtra {
	width: auto;
	font-size: 10px;
}
.claimSubtotal {
	width: 10%;
	text-align: right;
	font-size: 14px;
}
#arrowbox {
	text-align: center;
}
.banner {
	height: 100px;
	background-color: #26a69a;
	padding: 0px;
	margin-bottom: 50px;
	border-radius: 0px 0px 50px 0px;
}
#imglogo {
	top: 0px;
	right: 5px;
	height: 100px;
	width: auto;
}
#clmtotal {
	text-align: right;
	font-weight: bold;
}
.form-end {
	margin-top: 10px;
	margin-bottom: 10px;
}
.profile-pic {
	height: 50px;
	width: auto;
	border-radius: 50%;
}

.footer-overide {
	background-color: #26a69a;
	margin: 0px;
}

/* Modal style overide from Materialize */
.modal {
	padding: 16px;
}
.col-right {
	text-align: right;
}
.row .col {
	padding: 0px;
}
